<!DOCTYPE html>
<html>
    <head>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module">

            // -------- PROTOCOLOS INICIALES ----------//

            // SocketIO
            const socket = io();

            // funcion para manegar el error de que el jugador recarge la pagina sin pertenecer a ninguna partida y no tire el servidor
            socket.on('forceDisconnect', function(){
                        socket.disconnect()
                        console.log('desconexion de emergencia');
                    });

            const valoresJugador = { // Configuracion inicial del cliente de cara a la partida
                            idPartida: "<%= id_partida %>",
                            tipo: "<%= tipo %>",
                            apodo: "<%= apodo %>"
            }
            socket.emit("valoresJugador", valoresJugador); // Se lanza al servidor al inciar la partida
            //socket.on('prueba', (arg) => {console.log(arg)})
            
            // -------- PHASER ---------- //

                import { Inicio } from './phaser/escenas/inicio.js';
                import { Subasta } from './phaser/escenas/subasta.js';
                import { Juego } from './phaser/escenas/juego.js';
                

                    const config = {
                        type: Phaser.AUTO,
                        scale: {
                            mode: Phaser.Scale.FIT,
                            parent: 'phaser-example',
                            autoCenter: Phaser.Scale.CENTER_BOTH,
                            width: 1920,
                            height: 1080
                        }, 
                        
                        namePlayer: "test",

                        scene: [Inicio, Subasta, Juego] // [Inicio, Subasta] [Subasta, Inicio]
                    };

                    var game = new Phaser.Game(config);

                    //  ----  Variable Global del juego ----  //            
                    if("false" == "<%= modo_prueba %>"){ 
                        game.datos_juego = {   
                                                apodo: "<%= apodo %>",
                                                socket: socket,  // direccion a la instacia del socket del cliente
                                                idPartida: "<%= id_partida %>",
                                                partida: undefined,
                                                nJugador: undefined  
                                        };
                    }else{ // Lanzamiento de la partida para el modo prueba
                        game.datos_juego = {   
                                            apodo: "<%= apodo %>",
                                            socket: socket,  // direccion a la instacia del socket del cliente
                                            idPartida: "<%= id_partida %>",
                                            partida: [
                                                {id: 0, nombre: "antonio0", listo: true}, {id: 1, nombre: "bernardo1", listo: true},        
                                                {id: 2, nombre: "castor2", listo: true}, {id: 3, nombre: "dani3", listo: true}  
                                            ],
                                            nJugador: "<%= n_jugador %>"  
                                       };    

                    }

        </script>

    </head>
    <body></body>
</html>